<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>Project4</display-name>
	<!-- Servlet classes -->
	<servlet>
		<servlet-name>DispatcherServlet</servlet-name>
		<servlet-class>com.revature.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>com.revature.servlet.CorsFilter</filter-class>
	</filter>
	

	<!-- Servlet Mappings -->
	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>

</web-app>